html,body{
  margin: 0 ;
  padding: 0;
  overflow-x: hidden;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  
}

#one{
  background-image: url("pizza5.jpg");
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  overflow: hidden;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  
}
a{
  text-decoration: none;

}
.nav ul{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.nav ul li{
  padding: 10px;}
.nav ul li a{
             color:red;
             font-weight: bold;
}
/* div{
  border: 2px dashed red;
} */
.nav{ 
  padding-left: 20%;
  color: red;
}
#about ,h2,p{
  text-align: center;
}#about p{
  color:black;
}
#food{
  background-color: black;
}
#two{
  color: white;
  font-size: 25px;
  font-family: "lobster", cursive;
  padding-top: 10%;
}
#food img{
  width: 85%;
  height: 85%;}
#drink img{
    width: 85%;
    height: 85%;
  }
#drink{
    padding-top: 2%;
  }
  #make-order{
    background-image: url("foodsBg.jpg");
  }
  th{
    color: white;
  }
  #make-order h2{
    color: black;
    font-weight: bold;
  }
  label{
    color:white;
  }
  .choices h2{
    color: red;
  }
  i{color: red;}
  #nine{
    justify-content: center;
  }
  #five{
    justify-content: center;
  }
  .form-control{
    background: transparent;
  }
  #four h3{
    color: red;
    text-align: center;
  }
  #four p{
    color: white;
  }
  #five h3{
    color: red;
    text-align: center;
  }
  #five p{
    color: white;
  }
        