@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
html,body{
  margin: 0 ;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.choices{
  display: none;
}
.delivery{display: none;}
#one{
  background-image: url("pizzabg.jpg");
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}
#backg{
  position: fixed;
}
header{
  top: 0;left: 0;right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
}
header .navbar{
  color: red;
  margin-left: 30%;
  padding-right: 3%;
}
.navbar a{
  color:red;
}
#about ,h2,p{
  text-align: center;
}#about p{
  color:black;
  font-weight: bold;
}
#about{
  height: 50vh;
}
#drink{
  margin-left: 12%;
}
#two{
  color: white;
  font-size: 25px;
  font-family: "lobster", cursive;
  padding-top: 10%;
}
#food img{
  width: 85%;
  height: 85%;}
#drink img{
    width: 85%;
    height: 85%;
  }
#drink{
    padding-top: 2%;
  }
  #make-order{
    background-image: url("foodsBg.jpg");
  }
  th{
    color: white;
  }
  #make-order h2{
    color: black;
    font-weight: bold;
  }
  label{
    color:white;
  }
  .choices h2{
    color: red;
  }
  i{color: red;}
  #nine{
    justify-content: center;
  }
  #five{
    justify-content: center;
  }
  .form-control{
    background: transparent;
  }
  #four h3{
    color: red;
    text-align: center;
  }
  #four p{
    color: white;
  }
  #five h3{
    color: red;
    text-align: center;
  }
  #five p{
    color: white;
  }
        